{% extends "search_engine/base.html" %}

{% load bootstrap5 %}

{% block content %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#main-info" data-bs-toggle="tab">法人番号 (Main info)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#statistics" data-bs-toggle="tab">全国{{ corporation.number }}位 (Statistics)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#geolocation" data-bs-toggle="tab">所在地 (Geolocation)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#siteInfo" data-bs-toggle="tab">サイト情報 (SiteInfo)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#media" data-bs-toggle="tab">報道での引用 (Media)</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active d-flex justify-content-center" id="main-info">
        </div>
        <div class="tab-pane" id="statistics"></div>
        <div class="tab-pane" id="geolocation">
            <strong>Coming soon...</strong>
        </div>
        <div class="tab-pane" id="siteInfo">
            <strong>Coming soon...</strong>
        </div>
        <div class="tab-pane" id="media">
            <strong>Coming soon...</strong>
        </div>
    </div>
{% endblock %}
