{% extends "search_engine/base.html" %}

{% load bootstrap5 %}

{% block content %}
    <h1>PAGE UNDER CONSTRUCTION</h1>
    <ul>
        <li>id: {{ corporation.id }}</li>
        <li>number: {{ corporation.number }}</li>
        <li>name: {{ corporation.name }}</li>
        <li>en_name: {{ corporation.en_name }}</li>
        <li>address: {{ corporation.address }}</li>
        <li>furigana: {{ corporation.furigana }}</li>
        <li>prefecture: {{ corporation.prefecture }}</li>
        <li>city: {{ corporation.city }}</li>
    </ul>
{% endblock %}
